html{
	background: url("images/background.jpg");
	    background-size: cover;
   overflow: hidden;
    ;
}
.head{
	position: relative;
	text-align: left;
	padding-left: 20px;
	color:Red;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: -50px 0px;
    position: relative;
		 }
.shead{
		font-size: 20px;
		font-family: sans-serif;
		padding-left: 190px;
		margin: -50px; 
			}

.subhead{
	padding-left: 20px;
	padding-top: 60px;
	display: block;
	font-size: 25px;
	color: coral;
	width: 400px;
	text-align: justify;
	padding-top: 150px;

}

.button1 {
        background-color: green;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }

.button2 {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px -4px;
        cursor: pointer;
      }
.button3 {
        background-color: coral;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }



.buttons{
	padding-top: 5px;
	padding-left: 15px;
	display:flex; 
}

.inverted{ padding-top: 250px;}


/* Corquis styling*/
.c_image{
	width: auto;
	height:300px;
	padding-left: 5px;
	padding-top: 20px;
}

.c_heading{
	font-size: 20px;
		font-family: sans-serif;
		padding-left: 40px;
		margin: -30px; 
		color: red;
}

.c_content{
	display: block;
	width: 550px;
	padding-left: 10px;
	font-size: 16px;
	font-family: roboto;
	color: red;
	text-align: justify;
}

.c_home_button{
	background-color: green;
	color:white;
        border: none;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

        }

.c_home_button:hover{color:coral;}

/* Pochade styling*/
.p_image{
	width: auto;
	height:300px;
	padding-left: 5px;
	padding-top: 20px;
}
.p_heading{
	font-size: 20px;
		font-family: sans-serif;
		padding-left: 40px;
		margin: -30px; 
		color: red;
}

.p_content{
	display: block;
	width: 600px;
	padding-left: 10px;
	font-size: 16px;
	font-family: roboto;
	color: red;
	text-align: justify;
}

.p_home_button{
		background-color: #1c87c9;
		color:white;
        border: none;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

        }

.p_home_button:hover{color:coral;
}

/* Portrait Styling*/
.po_image{
	width: auto;
	height:300px;
	padding-left: 5px;
	padding-top: 20px;
}
.po_heading{
	font-size: 20px;
		font-family: sans-serif;
		padding-left: 40px;
		margin: -30px; 
		color: red;
}


.po_content{
	display: block;
	width: 600px;
	padding-left: 10px;
	font-size: 16px;
	font-family: roboto;
	color: red;
	text-align: justify;
}

.po_home_button{
		background-color: coral !important;
		color:white;
        border: none;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;

        }

.po_home_button:hover{
	color:coral;
}

.po_home_button{
	background-color: coral !important; 
}

